@use 'sass:color';
@use 'sass:list';
@use '../../../utils/variables' as v;

@if list.index(v.$btn-types, danger) {
  .btn--danger {
    background-color: #fc5a5a;

    &:active {
      background-color: color.scale(#fc5a5a, $lightness: -10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: color.scale(#fc5a5a, $lightness: 10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
